artifacts/
bin/
build/
cache/
deployments/hardhat/
genfiles/
failing_metadata/
node_modules/
typechain/

*.pid
*.log
*.new
*.bak

.DS_Store

.vscode/
.idea/
.env
solc-input-*.json
flattened-*.sol

memo
